---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';
---

<DefaultLayout title="Resources">
  <section class="margin-24">
    <div class="container">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="Home" />
        <BreadcrumbsItem currentPage={true} label="Hiring Details" />
      </Breadcrumbs>
      <h1>Hiring Details</h1><br>
    </div>
  </section>
  <section class="">
    <div class="container">
      <div class="small-12 medium-12 space-content margin-12">
        <h3>What is this?</h3>
        <p>This website was created by <a href="https://www.linkedin.com/in/olearycrew/">Brendan O'Leary</a> to help XLabbers connect with other XLabbers to find and post about jobs and new opportunities. By filling out the form above, you get access to the other side (hiring or job postings). 
        <br/><br/>  
        If you have any questions or want to be removed, email <code>brendan [at] xlabbers.xyz</code></p>
        <h3>How can I help?</h3>
        <ul>
          <li>Reach out to people you know. This is tough and everyone processes differently. Give time and space but also let folks know you care.</li>
          <li>
            Write LinkedIn recommendations for folks. We know how amazing our coworkers were, but the reality is recruiters are going to judge them off LinkedIn. <a href="https://www.linkedin.com/pulse/how-write-killer-linkedin-recommendation-under-2-min-ryan-delon/?lipi=urn%3Ali%3Apage%3Ad_flagship3_detail_base%3BgSACMDBVRQmoK5E02UJnRw%3D%3D">Read more here</a>.
          </li>
          <li>If you want to do more, I could probably use some help with the Google Sheets as this thing grows. <a href="https://brendan.fyi/chat">Let's chat</a>.</li>
        </ul>
        <h3>I didn't get the sheet invite, help?</h3>
        <p>
          Sorry. It's literally just me trying to share the right Google Sheet with the right people. Just email me <code>brendan [at] xlabbers.xyz</code>, and I'll fix it if you don't see the sheet in ~24 hours after you submit. Thanks.
        </p>
      </div>
    </div>
  </section>
</DefaultLayout>
